 <script
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBzE3mGNaIQaBLClCVVEwHb82y4zIFlEgA">
        </script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>
            function initialize() {
                
              
                var lat = document.getElementById("lat").value;
                var long = document.getElementById("long").value;
                var myCenter=new google.maps.LatLng(lat,long);
                var mapProp = {
                    center: new google.maps.LatLng(lat, long),
                    zoom: 5,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
           
          
             marker = new google.maps.Marker({
                position: myCenter,
                animation: google.maps.Animation.BOUNCE
            });
            marker.setMap(map);
            
  var latlong = new google.maps.LatLng(lat,long) ;
 var geocoder = geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'latLng': latlong }, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    if (results[1]) {
                         var infowindow = new google.maps.InfoWindow({
  content: "Adresse: " + results[1].formatted_address
 
  });

infowindow.open(map,marker);
                    }
                }
            });
          
        google.maps.event.addListener(map, 'click', function(event) {
    placeMarker(event.latLng);
     
  });
   

function placeMarker(location) {
  var marker = new google.maps.Marker({
    position: location,
    map: map
  });
var latlong = new google.maps.LatLng(location.lat(),location.lng()) ;
var geocoder = geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'latLng': latlong }, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    if (results[1]) {
                       
                $('#long').val(location.lng());
                $('#lat').val(location.lat());
                $('#adr').val(results[1].formatted_address); 
                         var infowindow = new google.maps.InfoWindow({
  content: "Adresse: " + results[1].formatted_address + "<br>" +
  "Latitude: " +location.lat() + "<br>"+ "Longitude :"+location.lng()
  });
               

infowindow.open(map,marker);
                    }
                }
            });
  
}

        }   
             google.maps.event.addDomListener(window, 'load', initialize);
             
             
         
        </script>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form method="POST">
            <input id="lat" name="lat" value="{{ latitude }}"/>
            <input id="long" name="long" value="{{ longitude }}"/>  
            <input id="adr" name="adr" value="{{ adr }}"/> 
            <input type="Submit" >
        </form>
        <div id="googleMap" style="width:500px;height:380px;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

  